.render_example--array {
  border-bottom: 2px solid #000;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.render_example--code {
  background: #f1f1f1;
  border: 1px solid #000;
  display: block;
  max-height: 300px;
  overflow: scroll;
  padding: 10px;
}
