parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - 'web/modules'
        - 'web/themes'
    excludePaths:
        analyse:
            - 'web/core'
        analyseAndScan:
            - *Test.php
            - *TestBase.php
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
