includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 6
    paths:
        - 'web/modules'
        - 'web/themes'
    excludePaths:
        analyse:
            - 'web/core'
