# Ignore coder for phpcs
/vendor/drupal/coder/

# Ignore Drupal directories
/web/modules/custom/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/simpletest/

# Ignore Drupal files
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/README.txt
/web/themes/README.txt
/web/example.gitignore
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt


# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore .env files as they are personal
/.env

# Ignore other configurations
/.editorconfig
/.gitattributes


# Ignore IDE specific files
/.history/
/.idea/
*.iml
*.code-workspace

# Ignore all log files
*.log

# Ignore node modules
node_modules

# Ignore css maps
*.css.map

# Ignore local db-dumps
*.sql
*.sql*

# Ignore Packages
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

#ignore ddev composer files and generated .gitignore
.ddev/.ddev-docker-compose-base.yaml
.ddev/.ddev-docker-compose-full.yaml
.ddev/.gitignore

