/**
 * @file
 * CSS for Field Example.
 */
.stickynote {
  background: #fefabc;
  padding: 0.8em;
  font-family: cursive;
  font-size: 1.1em;
  color: #def9ff;
  width: 15em;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -moz-box-shadow: 0 4px 6px #333;
  -webkit-box-shadow: 0 4px 6px #333;
  box-shadow: 0 4px 6px #333;
}
