{#

Description text for the Field Example.

#}

{% set edit_content_types = path('entity.node_type.collection')  %}

{% trans %}

<p>The Field Example provides a field composed of an HTML RGB value, like
<code>#ff00ff</code>. To use it, <a href={{ edit_content_types }}>add the
field to a content type</a>.</p>

{% endtrans %}
