{#

Description text for the Simpletest Example.

#}

{% trans %}
<p>Please note that the use of SimpleTest is deprecated. This example module will
be removed in Drupal 9, and new tests should not be written using SimpleTest. In
addition, all existing SimpleTest tests should be converted to PHPUnit
functional tests.</p>

<p>
There are some instructions for how to convert Simpletest-based tests to the new
BrowserTestBase in this change notice:
<a href="https://www.drupal.org/node/2469723">https://www.drupal.org/node/2469723</a>.
</p>
{% endtrans %}
