{#

Description text for the Block Example.

#}

{% set block_admin_page = url('block.admin_display')['#markup'] %}

{% trans %}

<p>The Block Example provides three sample blocks which demonstrate the various
  block APIs. To experiment with the blocks, enable and configure them on
  <a href="{{ block_admin_page }}">the block admin page</a>.</p>

{% endtrans %}
