{#

Description text for the Config Entity Example.

#}

{% trans %}

<p>The Config Entity Example module defines a Robot entity type. This is a list
  of the Robot entities currently in your Drupal site.</p><p>By default, when
  you enable this module, one entity is created from configuration. This is
  why we call them Config Entities. Marvin, the paranoid android, is created
  in the database when the module is enabled.</p><p>You can view a list of
  Robots here. You can also use the 'Operations' column to edit and delete
  Robots.</p>

{% endtrans %}
